:root{
  --blu-link: #0061ff;
  --hero-color: #b4d0e7;
  --bordeaux: #61082b;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

body{
  font-family: 'Open Sans', sans-serif;
}

main p{
  font-size: 0.9rem;
}

.size-h3{
  font-size: 1.4rem;
}

.size-h2{
  font-size: 2.3rem;
}

h1{
  font-weight: 800;
}

.d-flex{
  display: flex;
}

.margin-b{
  margin-bottom: 40px;
}

.line-height{
  line-height: 25px;
}

.btn{
  background-color: var(--blu-link);
  color: white;
  text-decoration: none;
}

/* header */

header .menu{
  background-color: rgb(255, 255, 255);
  height: 80px;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
}

header nav ul{
  list-style: none;
  display: flex;
  align-items: center;
}

header nav a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  vertical-align: middle;
}

nav li{
  padding: 20px;
}

nav img{
  padding-left: 20px;
  vertical-align: middle;
}

.menu .right{
  padding-right: 20px;
}

header .menu .left,.right{
  align-items: center;
}

header .right li:last-child{
  margin-left: 20px;
}

header .right li:last-child a{
  padding: 7px 16px;
  border-bottom: 0px solid #0061ff;
}

header a:hover{
  border-bottom: 5px solid #0061ff;
  padding: 28px 0;
}

/* hero */
.container-hero{
  height: calc(900px - 80px);
  background-color: var(--hero-color);
  margin-bottom: 170px;
}

.elements-hero{
  max-width: 1200px;
  height: 890px;
  margin: 0 auto;
  padding-top: 160px;
}

.container-hero h1{
  font-size: 4.7rem;
}

.bottom-hero .hero-left{
  width: 350px;
  height: 470px;
}

.hero-left .btn-hero{
  margin: 35px 0 35px;
}

.hero-left .btn-hero a{
  padding: 11px 17px;
}

.bottom-hero .hero-right{
  width: 1000px;
}

.arrow{
  font-size: 50px;
  padding-top: 65px;
}

/* main */
.container-main{
  max-width: 1000px;
  margin: 0 auto;
}

main .fatturazione .choice{
  margin-right: 50px;
}

.column{
  justify-content: space-between;
  margin-bottom: 50px;
}

.column .horizontal-column,i{
  padding-right: 5px;
}

.border-column{
  border: 1px solid #d0d0d3;
}

main .header-column{
  height: 40px;
  align-items: center;
  justify-content: center;
}

.measure-menu .header-column{
  width: 300px;
}

main .body-column{
  height: 970px;
  width: 300px;
}

.info-column{
  margin: 38px 32px;
}

.info-column.top{
  height: 440px;
  width: 240px;
}

.info-column .horizontal-column,h3{
  padding-bottom: 20px;
}

.info-column .prezzo p:last-child{
  color: #686868;
  padding-top: 20px;
}

.info-column .info-icona{
  padding-top: 60px ;
  padding-bottom: 30px;
}

.info-column .info-icona p{
  padding-bottom: 30px;
}

.body-column hr{
  width: 50px;
  margin: 90px 32px 50px;
}

.info-column .prova a{
  padding: 14px 26px;
}

.info-column .prova .contattaci{
  padding: 14px 80px;
}

.info-column .acquista{
  padding-top: 35px;
}

.info-flag i{
  color: var(--blu-link);
}

.info-flag p{
  padding-top: 20px;
}

/* colonna orizzontale */
main .horizontal-body{
  height: 220px;
  justify-content: center;
  align-items: center;
}

.horizontal-body .horizontal-info{
  height: 145px;
  width: 935px;
}

.horizontal-info{
  position: relative;
}

.horizontal-info .contatta{
  position: absolute;
  right: 0;
  top: 13px;
}

.horizontal-info .par{
  padding-top: 45px;
}

.horizontal-info .contatta a{
  padding: 13px 40px;
}
/* /colonna orizzontale */

main .entra-in-contatto{
  padding-top: 150px;
  height: 660px;
  max-width: 1000px;
}

main .big-img{
  width: 600px;
  height: 515px;
}

main .img-text{
  margin: 60px 50px;
  height: 285;
  width: 260px;
}

.entra-in-contatto a{
  font-size: 0.9rem;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border: 1px black solid;
}

.entra-in-contatto .trova-un-partner{
  padding-top: 50px;
}

/* card */
main .esegui-più-operazioni{
  padding-top: 170px;
  /* height: 1280px; */
  max-width: 1000px;
}

main .esegui-più-operazioni h2{
  margin-bottom: 95px;
}

/* box-card */
main .box-card{
  max-width: 1000px;
  justify-content: space-between;
  flex-wrap: wrap;
}

main .card{
  width: 255px;
  height: 455px;
  margin-bottom: 77px;
}

.text-card h3{
  padding-bottom: 30px;
}


.text-card p{
  line-height: 20px;
}
/* /card */

/* piu di 500.000 team*/
.third-title{
  height: 180px;
  position: relative;
  margin-top: 120px;
}

.third-title h2{
  width: 600px;
  height: 90px;
}

.third-title a{
  position: absolute;
  bottom: 0;
  font-size: 0.9rem;
}
/* /piu di 500.000 team*/

/* logo */



/* quadrati */
.logo{
  width: 100%;
  padding-top: 150px;
}

.logo .square{
  aspect-ratio: 1/1;
  width: calc(100vw/3);
  flex-wrap: wrap;
}

.square:nth-child(2){
  background-color: #f5f5f5;
}

/* mini square */

.mini-square{
  width: 50%;
  height: 50%;
  justify-content: center;
}

.mini-square img{
  filter: invert(1);
  width: 130px;
  object-fit: contain;
}

.first .mini-square:nth-child(1){
  background-color: #a2d39b;
}
.first .mini-square:nth-child(1):active{
  border: 15px solid #d0e9cd;
}

.first .mini-square:nth-child(2){
  background-color: #61082b;
}
.first .mini-square:nth-child(2):active{
  border: 15px solid #9e3e63;
}

.first .mini-square:nth-child(3){
  background-color: #0093ce;
}
.first .mini-square:nth-child(3):active{
  border: 15px solid #7ac9e8;
}

.first .mini-square:nth-child(4){
  background-color: #ff1c1c;
}
.first .mini-square:nth-child(4):active{
  border: 15px solid #ff8c72;
}

.second{
  overflow-y: auto;
  overflow-x: hidden;
}

.logo-designit img{
  height: 80px;
}

.second .element{
  margin: 55px;
}

.second.square hr{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 105px;
}

.text p:nth-child(2){
  margin-top: 60px;
}

.third .mini-square:nth-child(1){
  background-color: #d5001f;
}
.third .mini-square:nth-child(1):active{
  border: 15px solid #f34242;
}

.third .mini-square:nth-child(2){
  background-color: var(--hero-color);
}
.third .mini-square:nth-child(2):active{
  border: 15px solid #e5f2fd;
}

.third .mini-square:nth-child(3){
  background-color: #0d2481;
}
.third .mini-square:nth-child(3):active{
  border: 15px solid #5a75df;
}

.third .mini-square:nth-child(4){
  background-color: #ffd830;
}
.third .mini-square:nth-child(4):active{
  border: 15px solid #fefe7e;
}
/* /quadrati */


/* main bottom */
.color-bottom-main{
  background-color: var(--hero-color);
  margin-bottom: 170px;
}

.container-main.bottom{
  height: 360px;
  padding-top: 145px;
  justify-content: space-between;
}

.container-main.bottom h2{
  width: 475px;
  color: var(--bordeaux);
}

.bottom.prova{
  padding-top: 20px;
}

.container-main .inizia a {
  font-size: 0.9rem;
  padding: 10px 55px;
  background-color: white;
  color: black;
  text-decoration: none;
} 

.measure-bottom{
  height: 420px;
}

.measure-bottom h2{
  padding-bottom: 70px;
}

.measure-bottom p{
  padding: 40px 0 40px;
  font-weight: bold;
}

.measure-bottom p.hide{
  display: none;
  font-weight: lighter;
}

.measure-bottom p.visible:hover + .hide{
  display: block;
}

.measure-bottom i{
  padding-left: 355px;
}

/* footer */
.container-footer{
  background-color: black;
  height: 580px;
  margin-top: 150px;
  padding-top: 105px;
}

.top-footer{
  max-width: 1200px;
  height:420px;
  margin: 0 auto;

}

.footer-column{
  flex-grow: 1;
  color: white;
  align-items: center;
  flex-direction: column;
}

.footer-column li{
  font-size: 12px;
  line-height: 25px;
  list-style: none;
}

.footer-column ul{
  display: flex;
  flex-direction: column;
}

.footer-column hr{
  margin-top: 120px;
  margin-bottom: 55px;
  width: 120px;
}

.footer-column .italiano{
  color: #999999;
  font-size: 12px;
}




