:root{
  --blu-link: #0061ff;
  --hero-color: #b4d0e7;
  --bordeaux: #61082b;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.small-size{
  font-size: 1rem;
}

.size-h3{
  font-size: 1.6rem;
}

.size-h2{
  font-size: 2.3rem;
}

.d-flex{
  display: flex;
}

.margin-b{
  margin-bottom: 45px;
}

.line-height{
  line-height: 25px;
}

.btn{
  background-color: var(--blu-link);
  color: white;
  text-decoration: none;
}


/* header */

header .menu{
  background-color: rgb(255, 255, 255);
  height: 80px;
  width: 100%;
  justify-content: space-between;
  position: fixed;
}

header nav ul{
  list-style: none;
}

header nav a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  justify-content: space-between;
  padding-left: 30px;
}

nav img{
  padding-left: 20px;
}

.menu .right{
  padding-right: 20px;
}

header .menu .left,.right{
  align-items: center;
}

header .right li:last-child{
  margin-left: 20px;
}
header .right li:last-child a{
padding: 7px 16px;
}

/* hero */
header .container-hero{
  height: calc(900px - 80px);
  background-color: var(--hero-color);
}

.elements-hero{
  max-width: 1200px;
  height: 890px;
  margin: 0 auto;
  padding-top: 190px;
}

.container-hero h1{
  font-size: 4.7rem;
}

.bottom-hero .hero-left{
  width: 430px;
  height: 470px;
}

.hero-left .btn-hero{
  margin: 35px 0 35px;
}

.hero-left .btn-hero a{
  padding: 11px 17px;
}

.bottom-hero .hero-right{
  width: 1000px;
}

.arrow{
  font-size: 50px;
  padding-top: 40px;
}

/* main */
.container-main{
  background-color: rgb(224, 171, 56);
  height: 140px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 170px;
}

main .main-title{
  background-color: #a200ff;
}

main .fatturazione .chois{
  margin-right: 50px;
}

.column{
  background-color: #61083964;
  justify-content: space-between;
  margin-bottom: 50px;
}

.border-column{
  border: 1px solid #d0d0d3;
}

main .header-column{
  background-color: #59610864;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.measure-menu .header-column{
  width: 300px;
}

main .body-column{
  background-color: #bc378d;
  height: 975px;
  width: 300px;
}

.info-column{
  margin: 38px 32px;
  background-color: #b4d0e7;
}

.info-column.top{
  height: 440px;
  width: 240px;
}

main hr{
  width: 50px;
  margin: 45px 32px 55px;
}

.info-column.bottom{
  width: 240px;
}

.first{
  height: 140px;
}

.second{
  height: 320px;
}

.third{
  height: 180px;
}

/* colonna orizzontale */
/* MARGIN NON RIESCO AD USARLO QUA */
main .horizontal-body{
  background-color: #007bff;
  height: 220px;
  justify-content: center;
  align-items: center;
}

.horizontal-body .horizontal-info{
  background-color: #61082b;
  height: 145px;
  width: 935px;
}
/* /colonna orizzontale */

main .entra-in-contatto{
  padding-top: 150px;
  background-color: #b4d0e7;
  height: 660px;
  max-width: 1000px;
}

main .big-img{
  width: 600px;
  height: 515px;
  background-color: antiquewhite;
}

main .img-text{
  margin: 60px 50px;
  height: 285;
  width: 300px;
  background-color: #bc378d;
}

main .esegui-più-operazioni{
  padding-top: 170px;
  height: 1280px;
  max-width: 1000px;
  background-color: #a200ff;
}

main .esegui-più-operazioni h2{
  background-color: #61082b;
  margin-bottom: 95px;
}

/* box-card */
main .box-card{
  max-width: 1000px;
  justify-content: space-between;
  flex-wrap: wrap;
}

main .card{
  width: 295px;
  height: 455px;
  background-color: #b4d0e7;
  margin-bottom: 77px;
}

main .img-card{
  height: 205px;
  width: 295px;
  background-color: #439ce6;
}

.text-card h3{
  padding-bottom: 45px;
}
