:root{
  --blu-link: #0061ff;
  --hero-color: #b4d0e7;
  --bordeaux: #61082b;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

body{
  font-family: 'Open Sans', sans-serif;
}

main p{
  font-size: 0.9rem;
}

.size-h3{
  font-size: 1.4rem;
}

.size-h2{
  font-size: 2.3rem;
}

.d-flex{
  display: flex;
}

.margin-b{
  margin-bottom: 40px;
}

.line-height{
  line-height: 25px;
}

.btn{
  background-color: var(--blu-link);
  color: white;
  text-decoration: none;
}

/* header */

header .menu{
  background-color: rgb(255, 255, 255);
  height: 80px;
  width: 100%;
  justify-content: space-between;
  position: fixed;
}

header nav ul{
  list-style: none;
}

header nav a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  justify-content: space-between;
  padding-left: 30px;
}

nav img{
  padding-left: 20px;
}

.menu .right{
  padding-right: 20px;
}

header .menu .left,.right{
  align-items: center;
}

header .right li:last-child{
  margin-left: 20px;
}
header .right li:last-child a{
padding: 7px 16px;
}

/* hero */
header .container-hero{
  height: calc(900px - 80px);
  background-color: var(--hero-color);
}

.elements-hero{
  max-width: 1200px;
  height: 890px;
  margin: 0 auto;
  padding-top: 190px;
}

.container-hero h1{
  font-size: 4.7rem;
}

.bottom-hero .hero-left{
  width: 430px;
  height: 470px;
}

.hero-left .btn-hero{
  margin: 35px 0 35px;
}

.hero-left .btn-hero a{
  padding: 11px 17px;
}

.bottom-hero .hero-right{
  width: 1000px;
}

.arrow{
  font-size: 50px;
  padding-top: 45px;
}

/* main */
.container-main{
  height: 140px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 170px;
}

main .fatturazione .choice{
  margin-right: 50px;
}

.column{
  justify-content: space-between;
  margin-bottom: 50px;
}

.column .horizontal-column,i{
  padding-right: 5px;
}

.border-column{
  border: 1px solid #d0d0d3;
}

main .header-column{
  height: 40px;
  align-items: center;
  justify-content: center;
}

.measure-menu .header-column{
  width: 300px;
}

main .body-column{
  height: 970px;
  width: 300px;
}

.info-column{
  margin: 38px 32px;
}

.info-column.top{
  height: 440px;
  width: 240px;
}

.info-column .horizontal-column,h3{
  padding-bottom: 20px;
}

.info-column .prezzo p:last-child{
  color: #686868;
  padding-top: 20px;
}

.info-column .info-icona{
  padding-top: 60px ;
  padding-bottom: 30px;
}

.info-column .info-icona p{
  padding-bottom: 30px;
}

main hr{
  width: 50px;
  margin: 90px 32px 50px;
}

/* .info-column.bottom{
  width: 240px;
} */

.info-column .prova a{
  padding: 14px 26px;
}

.info-column .acquista{
  padding-top: 35px;
}

.info-flag i{
  color: var(--blu-link);
}

.info-flag p{
  padding-top: 20px;
}

/* .first{
  height: 140px;
}

.second{
  height: 320px;
}

.third{
  height: 180px;
} */

/* colonna orizzontale */
main .horizontal-body{
  height: 220px;
  justify-content: center;
  align-items: center;
}

.horizontal-body .horizontal-info{
  height: 145px;
  width: 935px;
}

.horizontal-info{
  position: relative;
}

.horizontal-info .contatta{
  position: absolute;
  right: 0;
  top: 13px;
}

.horizontal-info .par{
  padding-top: 45px;
}

.horizontal-info .contatta a{
  padding: 13px 40px;
}
/* /colonna orizzontale */

main .entra-in-contatto{
  padding-top: 150px;
  height: 660px;
  max-width: 1000px;
}

main .big-img{
  width: 600px;
  height: 515px;
}

main .img-text{
  margin: 60px 50px;
  height: 285;
  width: 270px;
}

.entra-in-contatto a{
  font-size: 0.9rem;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border: 1px black solid;
}

.entra-in-contatto .trova-un-partner{
  padding-top: 50px;
}

/* card */
main .esegui-più-operazioni{
  padding-top: 170px;
  height: 1280px;
  max-width: 1000px;
}

main .esegui-più-operazioni h2{
  margin-bottom: 95px;
}

/* box-card */
main .box-card{
  max-width: 1000px;
  justify-content: space-between;
  flex-wrap: wrap;
}

main .card{
  width: 295px;
  height: 455px;
  margin-bottom: 77px;
}

.text-card h3{
  padding-bottom: 30px;
}


.text-card p{
  line-height: 20px;
}
/* /card */
